.navBar {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  width: 100vw;
}

.navLinks {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  align-items: center;
  margin: 0;
  color: black;
}

.navLink {
  color: black;
  text-decoration: none;
  opacity: 0.7;
  font-size: 13px;
}

.navIcon {
  color: black;
  margin: 10px;
}

.hLogo {
  border-bottom: 1px solid rgb(231, 231, 231);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hLogo h2 {
  color: #d04764;
  font-family: 'Lobster', cursive;
  font-size: 36px;
  font-weight: normal;
  line-height: 48px;
  margin: 0 0 18px;
  text-shadow: 1px 0 0 #fff; 
}